name: Update Spreadsheet
on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - name: Update
        uses: actions/github-script@60a0d83039c74a4aee543508d2ffcb1c3799cdea
        with:
          github-token: ${{ secrets.GH_PAT }}
          script: |
            await github.rest.repos.createDispatchEvent({
              owner: 'KinoshitaRiku',
              repo:  'github-actions',
              event_type: 'update',
            })
